Go_Start/7.5_struct/simple4/.idea/workspace.xml
Go_Start/7.5_struct/simple5/.idea/workspace.xml
Go_Start/7.8_calc/calculatorstr/.idea/workspace.xml
Go_Start/8.4_panic/.idea/workspace.xml
Go_Start/8.5_interface/.idea/vcs.xml
Go_Start/8.3_lesson_error/.idea/workspace.xml
Go_Start/7.8_calc/calculatorstr/.idea/workspace.xml
Go_Start/7.5_struct/simple4/.idea/workspace.xml
Go_Start/7.5_struct/simple5/.idea/workspace.xml
.gitignore
Go_Start/7.5_struct/simple4/.idea/workspace.xml
Go_Start/7.5_struct/simple4/.idea/workspace.xml
Go_Start/7.5_struct/simple5/.idea/workspace.xml
Go_Start/7.8_calc/calculatorstr/.idea/workspace.xml
Go_Start/8.3_lesson_error/.idea/workspace.xml
